<h1>Salut !</h1>

<p>Pour reinitaliser votre mot de passe, cliquez sur le lien ci-dessous.</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Le lien expirera
    dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle', 'fr') }}.</p>

<p>Bonne journée</p>
