{% extends 'app.html.twig' %}

{% block title %}Merci ! | Cloud Arch{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body text-center">
            <h2 class="h4 pb-3">Thank you for your order!</h2>
            <p class="fs-sm mb-2">Your order has been placed and will be processed as soon as possible.</p>
            <p class="fs-sm mb-2">Make sure you make note of your order number, which is <span class="fw-medium">34VB5540K83.</span>
            </p>
            <p class="fs-sm">You will be receiving an email shortly with confirmation of your order. <u>You can now:</u>
            </p>
            <a class="btn btn-primary mt-3" href="{{ path('app_profile') }}">Aller au profil</a>
            <a class="btn btn-white mt-3" href="{{ path('app_home') }}">Retour à l'accueil</a>
        </div>
    </div>
{% endblock %}