{% extends 'app.html.twig' %}

{% block title %}Abonnements | Cloud Arch{% endblock %}

{% block content %}
<!--start breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Pages</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0 align-items-center">
                <li class="breadcrumb-item"><a href="{{ path('app_home') }}"><ion-icon name="home-outline"></ion-icon></a></li>
                <li class="breadcrumb-item active" aria-current="page">Abonnements</li>
            </ol>
        </nav>
    </div>
    <div class="ms-auto">
        <div class="btn-group">
            <a href="{{ path('app_update') }}" class="btn btn-outline-primary">Modifier</a>
        </div>
    </div>
</div>
<!--end breadcrumb-->
    <h6 class="mb-0 text-uppercase">Basic Pricing Table</h6>
    <hr/>
    <div class="row row-cols-1 row-cols-lg-4 gx-0">
        <div class="col">
            <div class="card rounded-0">
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="mb-4">Basic</h5>
                        <h1 class="card-price"><span class="fs-6 text-secondary">$</span>49<span class="fs-6 text-secondary">/mo</span></h1>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><ion-icon name="checkmark-circle-sharp" class="me-2"></ion-icon>3 Months Support</li>
                        <li class="list-group-item"><ion-icon name="checkmark-circle-sharp" class="me-2"></ion-icon>Demo Instalation</li>
                        <li class="list-group-item"><ion-icon name="checkmark-circle-sharp" class="me-2"></ion-icon>Automatic Updates</li>
                        <li class="list-group-item"><ion-icon name="checkmark-circle-sharp" class="me-2"></ion-icon>Theme Documentation</li>
                        <li class="list-group-item"><ion-icon name="checkmark-circle-sharp" class="me-2"></ion-icon>Free Subdomain</li>
                        <li class="list-group-item"><ion-icon name="checkmark-circle-sharp" class="me-2"></ion-icon>Community Access</li>
                        <li class="list-group-item"><ion-icon name="checkmark-circle-sharp" class="me-2"></ion-icon>Dedicated Phone Support</li>
                    </ul>
                    <div class="text-center mt-3 d-grid d-lg-block">
                        <a href="javascript:;" class="btn btn-outline-primary rounded-0 px-4 shadow">BUY NOW</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-0">
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="mb-4">Small Business</h5>
                        <h1 class="card-price"><span class="fs-6 text-secondary">$</span>299<span class="fs-6 text-secondary">/mo</span></h1>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><ion-icon name="checkmark-circle-sharp" class="me-2"></ion-icon>3 Months Support</li>
                        <li class="list-group-item"><ion-icon name="checkmark-circle-sharp" class="me-2"></ion-icon>Demo Instalation</li>
                        <li class="list-group-item"><ion-icon name="checkmark-circle-sharp" class="me-2"></ion-icon>Automatic Updates</li>
                        <li class="list-group-item"><ion-icon name="checkmark-circle-sharp" class="me-2"></ion-icon>Theme Documentation</li>
                        <li class="list-group-item"><ion-icon name="checkmark-circle-sharp" class="me-2"></ion-icon>Free Subdomain</li>
                        <li class="list-group-item"><ion-icon name="checkmark-circle-sharp" class="me-2"></ion-icon>Community Access</li>
                        <li class="list-group-item"><ion-icon name="checkmark-circle-sharp" class="me-2"></ion-icon>Dedicated Phone Support</li>
                    </ul>
                    <div class="text-center mt-3 d-grid d-lg-block">
                        <a href="javascript:;" class="btn btn-outline-primary rounded-0 px-4 shadow">BUY NOW</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-0 border border-3 border-primary">
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="mb-4">Professional</h5>
                        <h1 class="card-price"><span class="fs-6 text-secondary">$</span>399<span class="fs-6 text-secondary">/mo</span></h1>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><ion-icon name="checkmark-circle-sharp" class="me-2"></ion-icon>3 Months Support</li>
                        <li class="list-group-item"><ion-icon name="checkmark-circle-sharp" class="me-2"></ion-icon>Demo Instalation</li>
                        <li class="list-group-item"><ion-icon name="checkmark-circle-sharp" class="me-2"></ion-icon>Automatic Updates</li>
                        <li class="list-group-item"><ion-icon name="checkmark-circle-sharp" class="me-2"></ion-icon>Theme Documentation</li>
                        <li class="list-group-item"><ion-icon name="checkmark-circle-sharp" class="me-2"></ion-icon>Free Subdomain</li>
                        <li class="list-group-item"><ion-icon name="checkmark-circle-sharp" class="me-2"></ion-icon>Community Access</li>
                        <li class="list-group-item"><ion-icon name="checkmark-circle-sharp" class="me-2"></ion-icon>Dedicated Phone Support</li>
                    </ul>
                    <div class="text-center mt-3 d-grid d-lg-block">
                        <a href="javascript:;" class="btn btn-primary rounded-0 px-4 shadow">BUY NOW</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-0">
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="mb-4">Enterprise</h5>
                        <h1 class="card-price"><span class="fs-6 text-secondary">$</span>499<span class="fs-6 text-secondary">/mo</span></h1>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><ion-icon name="checkmark-circle-sharp" class="me-2"></ion-icon>3 Months Support</li>
                        <li class="list-group-item"><ion-icon name="checkmark-circle-sharp" class="me-2"></ion-icon>Demo Instalation</li>
                        <li class="list-group-item"><ion-icon name="checkmark-circle-sharp" class="me-2"></ion-icon>Automatic Updates</li>
                        <li class="list-group-item"><ion-icon name="checkmark-circle-sharp" class="me-2"></ion-icon>Theme Documentation</li>
                        <li class="list-group-item"><ion-icon name="checkmark-circle-sharp" class="me-2"></ion-icon>Free Subdomain</li>
                        <li class="list-group-item"><ion-icon name="checkmark-circle-sharp" class="me-2"></ion-icon>Community Access</li>
                        <li class="list-group-item"><ion-icon name="checkmark-circle-sharp" class="me-2"></ion-icon>Dedicated Phone Support</li>
                    </ul>
                    <div class="text-center mt-3 d-grid d-lg-block">
                        <a href="javascript:;" class="btn btn-outline-primary rounded-0 px-4 shadow">BUY NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end row-->

{% endblock %}