{% extends 'base.html.twig'  %}

    
{% block body %}
      <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-6 col-md-7 mx-auto mt-5">
          <div class="card radius-10">
            <div class="card-body p-4">
              <div class="text-center">
                <h4>S'inscrire</h4>
                <p>Créer un compte</p>
              </div>
              <form class="form-body row g-3">
                <div class="col-12">
                  <label for="inputName" class="form-label">Nom</label>
                  <input type="text" class="form-control" id="inputName">
                </div>
                <div class="col-12">
                  <label for="inputName" class="form-label">Prénom</label>
                  <input type="text" class="form-control" id="inputName">
                </div>
                <div class="col-12">
                  <label for="inputEmail" class="form-label">Email</label>
                  <input type="email" class="form-control" id="inputEmail">
                </div>
                <div class="col-12">
                  <label for="inputPassword" class="form-label">Mot de passe</label>
                  <input type="password" class="form-control" id="inputPassword">
                </div>
                <div class="col-12 col-lg-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Je suis d'accord avec les termes et conditions
                    </label>
                  </div>
                </div>
                <div class="col-12 col-lg-12">
                  <div class="d-grid">
                    <button type="button" class="btn btn-primary">S'inscrire</button>
                  </div>
                </div>
                <div class="col-12 col-lg-12">
                  <div class="position-relative border-bottom my-3">
                     <div class="position-absolute seperator translate-middle-y">ou continuer avec</div>
                  </div>
                </div>
                <div class="col-12 col-lg-12">
                  <div class="social-login d-flex flex-row align-items-center justify-content-center gap-2 my-2">
                      <a href="javascript:;" class=""><img src="{{ asset('/images/icons/facebook.png') }}" alt=""></a>
                      <a href="javascript:;" class=""><img src="{{ asset('/images/icons//apple-black-logo.png') }}" alt=""></a>
                      <a href="javascript:;" class=""><img src="{{ asset('/images/icons/google.png') }}" alt=""></a>
                  </div>
                </div>
                <div class="col-12 col-lg-12 text-center"> 
                  <p class="mb-0">Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Se connecter</a></p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
     </div>
{% endblock %}